<?php
/**
 * SocialConnect project
 * @author: Patsura Dmitry https://github.com/ovr <talk@dmtry.me>
 */

return array(
    'redirectUri' => 'http://localhost:8000/auth/cb',
    'provider' => array(
        'Facebook' => array(
            'applicationId' => '',
            'applicationSecret' => '',
            'scope' => array('email')
        ),
        'Twitter' => array(
            'applicationId' => '',
            'applicationSecret' => '',
            'enabled' => false
        ),
        'Google' => array(
            'applicationId' => '',
            'applicationSecret' => '',
            'scope' => array(
                'https://www.googleapis.com/auth/userinfo.email https://www.googleapis.com/auth/userinfo.profile'
            )
        ),
        'Paypal' => array(
            'applicationId' => '',
            'applicationSecret' => '',
            'scope' => array(
                'profile',
                'email',
                'address',
                'phone',
                'https://uri.paypal.com/services/paypalattributes'
            )
        ),
        'Vk' => array(
            'applicationId' => '',
            'applicationSecret' => '',
            'scope' => array('email')
        ),
        'Github' => array(
            'applicationId' => '',
            'applicationSecret' => '',
        ),
        'Instagram' => array(
            'applicationId' => '',
            'applicationSecret' => '',
        ),
        'Slack' => array(
            'applicationId' => '5043509839.130419260038',
            'applicationSecret' => 'd9816bdd232636ceba67137384f8fe2e',
            'scope' => array(
                'identity.basic',
                'identity.email',
                'identity.team',
                'identity.avatar',
            )
        ),
    )
);
