# Remove files for archives generated using `git archive`
.github export-ignore
docs export-ignore
example export-ignore
tests export-ignore
.editorconfig export-ignore
.gitattributes export-ignore
.gitignore export-ignore
.gitlab-ci.yml export-ignore
.scrutinizer.yml export-ignore
phpunit.xml.dist export-ignore
phpmd.xml.dist export-ignore
phpstan.neon export-ignore
