<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false"
         syntaxCheck="false"
         bootstrap="./tests/Bootstrap.php"
        >
    <testsuites>
        <testsuite name="Vk Test Case">
            <directory>./tests/Test/</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory>./tests/Test/</directory>
        </whitelist>
        <blacklist>
            <directory>./vendor/</directory>
            <file>./vendor/autoload.php</file>
        </blacklist>
    </filter>

    <logging>
        <log type="coverage-text" target="php://stdout" showUncoveredFiles="true"/>
        <log type="coverage-clover" target="build/logs/clover.xml"/>
    </logging>
</phpunit>